<div class="container-fluid nav-container">
  <div class="row position-relative">
    <div class="col">
      <nav>
        <ul class="nav justify-content-end">
          <% Category.all.each do |category| %>
            <li class="nav-item">
              <%= link_to category.name, posts_path(category: category.name), class: "nav-link" %>
            </li>
          <% end %>
        </ul>

        <% if session[:admin] then %>
          <%= link_to new_post_path, class: "position-absolute editBtn" do %>
            <span class="btn btn-warning" aria-hidden="true">Add new</span>
          <% end %>
        <% end %>

      </nav>
    </div>
  </div>
</div>
