<% @posts.each do |post| %>
  <article class="post">
    <div class="container">
      <div class="row">
        <h1><%= link_to post.title, post %></h1>
        <p><%= post.content %></p>
        <%= image_tag post.image_url.to_s, alt: "Image", class: "img-responsive" %>
        <% if session[:admin] then %>
          <%= link_to edit_post_path(post), class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
