// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postContainer {
  background-color: grey;

  &:nth-child(2n+1) {
    background-color: pink;

    .postWrapper {
      flex-direction: row-reverse;
    }
  }

  .postWrapper {
    min-height: 300px;

    .post {
      padding: 20px;
      text-align: center;

      .title,
      .content {
        width: 100%;
        color: $white;
      }

      .content {
        padding: 20px 0;
      }

      .title {
        margin-top: 20px;
      }

      @include media-breakpoint-up(md) {
        .title,
        .content {
          padding-right: 30px;
          padding-left: 30px;
        }
      }
    }

    &.full_width_image {
      max-height: 500px;
      overflow-y: hidden;

      &:hover {
        .postImg {
          opacity: .4;
        }
      }

      @include media-breakpoint-up(sm) {
        .post {
          position: absolute;
        }
      }
    }

    &.half_width_image {
      @include media-breakpoint-up(sm) {
        .postImg,
        .post {
          width: 50%;
        }
      }
    }
  }
}
